/* 
  Styles and animations for the dog element.
*/
#dog {
  position: absolute;
  /* Sprite sheet for walking animation */ 
  background: url('../images/dogwalk.png'); 
  /* Position the dog near the bottom of the screen */
  top: 50%; 
  /* Width of a single frame in the sprite sheet */
  width: 18.%; 
  /* Height of a single frame */
  height: 17.1%; 
  /* Apply two animations to dog movment
     1. 'walk' animates the background
     2. 'dogMove' animates the dog’s movement across the screen.
  */
  animation: 
    walk 2s steps(5) 1.9, 
    dogMove 3.8s linear;
  /* Retain final animation state after finishing */
  animation-fill-mode: forwards; 
}

/* 
  'walk' keyframes control the background position to cycle through sprite frames. */

  @keyframes walk {
  0% {
    background-position: 91%;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes dogMove {
  0% {
    transform: translateX(-100px);
  }
  10% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(300px);
    overflow: hidden;
  }
  
}
  
